/* header */
header {
    height: 50px;
    background-color: #ded;
}

/* main, section grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    height: 1000px;
}
.items {
    border: 1px solid black;
    height: inherit;
}

/* todo-css */
#todo {
    position: relative;
}
/* title: h1, 1st level: h2, 2nd level: ul, li */
#todo > h1 {
    margin: 40px 10px 0;
    font-size: 2.5rem;
    font-weight: 600;
}
#todo > h2 {
    margin: 50px 20px 0;
    font-size: 1.7rem;
}

/* li > input > label css */
#todo li {
    display: table;
    position: relative;
    margin: 25px 40px 0;
    font-size: 0.95rem;
}
#todo input {
    display: none;
}
#todo input + label::after {
    content: '';
    width: 0;
    height: 3px;
    top: 0.4rem;
    position: absolute;
    display: block;
    background: rgb(252, 87, 87);
    transition: width .3s ease;
}
#todo input:checked + label::after{
    width: 100%;
}
