/* header */
header {
    height: 50px;
    background-color: #ded;
}

/* main, section grid */
.grid-container {
    display: grid;
    height: 800px;
}

@media screen and (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 450px;
    }
    html {
        font-size: 80% !important;
    }
}
@media screen and (min-width: 1080px) {
    .grid-container {
        grid-template-columns: 1fr 600px;
    }
    html {
        font-size: 95% !important;
    }
}
@media screen and (min-width: 1300px) {
    .grid-container {
        grid-template-columns: 1fr 800px;
    }
    html {
        font-size: 110% !important;
    }
}

.items {
    height: inherit;
}
.items:not(:last-child) {
    box-shadow: 1px 0px 1px -1px black;
}

/* todo-css */
#todo {
    position: relative;
}
/* title: h1, 1st level: h2, 2nd level: ul, li */
#todo > h1 {
    margin: 3rem 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
}
#add-schedule {
    position: relative;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

#todo > h2 {
    margin: 2.4rem 4.8rem 0;
    font-size: 1.7rem;
}
input + label {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

/* li > input > label css */
#todo li {
    display: table;
    position: relative;
    padding: .6rem 2rem;
    margin-left: 5rem;
    font-size: 1rem;
}
#todo li:hover {
    background-color: #eee;
}
#todo li:first-child {
    margin-top: 1.8rem;
}
#todo input {
    display: none;
}
#todo input + label::after {
    content: '';
    width: 0;
    height: .1rem;
    left: 1.5rem;
    top: .8rem;
    position: absolute;
    display: block;
    background: rgb(252, 87, 87);
    box-shadow: 0 .3rem rgb(252, 87, 87);
    transition: width .3s ease;
}
#todo input:checked + label::after {
    width: Calc(100% - 3rem);
}
#todo input + label {
    opacity: 1;
    transition: opacity .3s ease;
}
#todo input:checked + label {
    opacity: .7;
}