<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <style>
            #year {
                font-size: 30px;
                text-align: center;
            }
            .dateTime-grid {
                display:grid;
                grid-template-columns: 90px 60px;
            }
        </style>

        <title>TODO</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/babel">

            class App extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        today: new Date()
                    };
                }

                render() {
                    return (
                        <div id="navbar-top">
                            <div className="grid-item">
                                {this.dateTime()}
                                <div>맑음</div>
                            </div>
                            <div id="home" className="grid-item">hello</div>
                            <div className="grid-item"></div>
                        </div>
                    )
                }

                dateTime () {
                    const monthNames = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."]
                    const dayNames = ["Mon.", "Tues.", "Wed.", "Thur.", "Fri.", "Sat.", "Sun."]
                    return (
                        <div class="dateTime-grid">
                            <div id="year" class="grid-item">{this.state.today.getFullYear()}</div>
                            <div class="grid-item">
                                <div id="monthDate">{monthNames[this.state.today.getMonth()] + " " + this.state.today.getDate()}</div>
                                <div id="day">{dayNames[this.state.today.getDay()]}</div>
                            </div>
                        </div>
                    )
                }

            //     weather() {
            //         // use openweathermap api
            //         const lat = 
            //         const lon = 
            //         fetch(`https://community-open-weather-map.p.rapidapi.com/weather?lat=${lat}&lon=${state.lon}&callback=test&id=2172797&units=%2522metric%2522%20or%20%2522imperial%2522&mode=xml%252C%20html&q=Seoul`, {
            //             "method": "GET",
            //             "headers": {
            //                 "x-rapidapi-host": "community-open-weather-map.p.rapidapi.com",
            //                 "x-rapidapi-key": "132de901f2msh07ddc105ef81e6bp1895cdjsnfc72e16418a9"
            //             }
            //         })
            //         .then(response => response.json())
            //         .then(data => {console.log(data)})
            //         .catch(err => {
            //             console.log(err);
            //         });
            //     }
                
            }
                

            ReactDOM.render(<App />, document.querySelector('#app'))
        </script>
    </body>
</html>