<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <style>
            #columns {
                display: grid;
                grid-template-columns: 1fr 500px;

                background-color: white;
                margin-top: 129px;
                margin-left: 200px;
            }
            #columns .grid-item {
                padding: 20px;
            }
            #columns table {
                border-collapse: collapse;
            }
            #columns #calendar caption{
                font-size: 24px;
                font-weight: 600;
                text-align: center;
            }
            #calendar thead {
                border-bottom: 1px solid black;
            }
            #calendar td {
                width: 70px;
                height: 30px;
                padding: 5px;
            }

        </style>

        <title>TODO</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/babel">

            class App extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        dDay: ["item1", "item2", "item3", "item4"],
                        todo: ["todo1","todo2", "todo3", "todo4"],
                        today: new Date(),
                        diary: ["Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
                        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",]
                    }
                }
                
                render() {
                    return (
                        <div>
                            <Navbar 
                                today={this.state.today}
                            />
                            <Sidebar 
                                dDay={this.state.dDay}
                                todo={this.state.todo}
                            />
                            <Main 
                                diary={this.state.diary}
                                today={this.state.today}
                            />
                        </div>

                    )
                }
            }

            class Main extends React.Component {
                
                render() {
                    return (
                        <div id="columns">
                            <ul className="grid-item" id="diary">
                                {this.props.diary.map((diary, i) =>
                                    <li key={i}>{diary}</li>
                                )}
                            </ul>

                            <div className="grid-item" id="calendar">
                                {this.calendar()}
                            </div>
                        </div>
                    )
                }

                insertDate() {
                    const today = this.props.today;
                    var first = new Date(today)
                    first.setDate(1)
                    
                    var end = new Date(first)
                    end.setMonth(end.getMonth()+1)

                    if (end.getDay()!==0) {
                        end.setDate(end.getDate()+6-end.getDay())
                    }
                    first.setDate(first.getDate()-first.getDay())

                    var table = []
                    var date = new Date(first)
                    for(; date<=end; ) {
                        var children = []
                        for (var i = 0; i < 7; i++, date.setDate(date.getDate()+1)) {
                            children.push(date.getDate())
                        }
                        table.push(children)
                    }
                    
                    console.log(table)
                        
                    return (
                        <tbody>
                        {table.map((week, i)=>
                            <tr key={i}>
                                {week.map((day, j) =>
                                    <td key={j}>{day}</td>
                                )}
                            </tr>
                        )}
                        </tbody>
                    )
                }

                calendar () {
                    
                    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "Augaust", "September", "October", "November", "December"]
                    return (
                        <table>
                            <caption>{monthNames[this.props.today.getMonth()]}</caption>
                            <thead>
                                <tr>
                                    <td>Sun.</td>
                                    <td>Mon.</td>
                                    <td>Tue.</td>
                                    <td>Wed.</td>
                                    <td>Thur.</td>
                                    <td>Fri.</td>
                                    <td>Sat.</td>
                                </tr>
                            </thead>
                            {this.insertDate()}
                        </table>
                    )
                }

                date () {

                }

            }

            class Sidebar extends React.Component {
                
                render() {
                    return (
                        <div id="sidebar">
                            <div id="dDay">
                                {this.props.dDay.map((item, i) => <h4 key={i}>{item}</h4>)}
                            </div>
                            <hr />
                            <ul id="todo">
                                {this.props.todo.map((item, i) => <li key={i}>{item}</li>)}
                            </ul>
                        </div>
                    )
                }
            }

            class Navbar extends React.Component {

                
                render() {
                    return (
                        <div id="navbar-top">
                            <div className="grid-item">
                                {this.dateTime()}
                            </div>
                            <div id="home" className="grid-item">hello</div>
                            <div className="grid-item"></div>
                        </div>
                    )
                }



                dateTime () {
                    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "Augaust", "September", "October", "November", "December"]
                    const dayNames = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                    return (
                        <div className="dateTime-grid">
                            <div id="year" className="grid-item">{this.props.today.getFullYear()}</div>
                            <div className="grid-item">
                                <div id="monthDate">{monthNames[this.props.today.getMonth()] + " " + this.props.today.getDate()}</div>
                                <div id="day">{dayNames[this.props.today.getDay()]}</div>
                            </div>
                        </div>
                    )
                }

            //     weather() {
            //         // use openweathermap api
            //         const lat = 
            //         const lon = 
            //         fetch(`https://community-open-weather-map.p.rapidapi.com/weather?lat=${lat}&lon=${state.lon}&callback=test&id=2172797&units=%2522metric%2522%20or%20%2522imperial%2522&mode=xml%252C%20html&q=Seoul`, {
            //             "method": "GET",
            //             "headers": {
            //                 "x-rapidapi-host": "community-open-weather-map.p.rapidapi.com",
            //                 "x-rapidapi-key": "132de901f2msh07ddc105ef81e6bp1895cdjsnfc72e16418a9"
            //             }
            //         })
            //         .then(response => response.json())
            //         .then(data => {console.log(data)})
            //         .catch(err => {
            //             console.log(err);
            //         });
            //     }
                
            }
                

            ReactDOM.render(<App />, document.querySelector('#app'))
        </script>
    </body>
</html>